nav {
  display: flex;
  justify-content: space-between;
  padding: 20px 40px;
  background-color: darkcyan;
}

nav h1 {
  font-size: 2rem;
  margin-bottom: 10px;
  color: yellow;
}

.header {
  display: flex;
  justify-content: space-between;
}

.header a {
  padding: 2px 2px 2px 2px;
  transition: 0.2s;
  color: black;
}

.header a:hover {
  color: yellow;
}