.intro {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin: 0 auto;
  align-items: center;
  background-color: darkcyan;
  column-gap: 0;
}

.intro h1 {
  font-size: 4.5rem;
  position: relative;
  color: white;
}

.intro .first_title {
  font-size: 1.2rem;
  font-weight: 100;
  margin-top: 0px;
  margin-bottom: 0px;
  padding-top: 0px;
  padding-bottom: 0px;
  color: yellow;
}

.description-dev {   
  align-content: center;   
  text-align: start;  
  margin: auto;
  grid-column: 1;   
  grid-row: 2/6;
  padding: 0px 40px 0px 40px;
}

.image-dev {
  grid-column: 2;
}

.info-profile{
  height: 100%;  
  display: grid;
}

#profile-name-title{
  font-size: 3rem;
  color: yellow;
}

nav h1 {
  font-size: 2rem;
  margin-bottom: 10px;
  color: yellow;
}

.header {
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
}

.header a {  
  transition: 0.2s;
  color: white;
}

.header a:hover {
  color: yellow;
}

.title_nav_bar{              
  width: 50%;
  margin: 50px;   
}

@media (max-width: 1024px) {
  .intro h1 {
    font-size: 3rem;
  }

  .intro h1::before {
    width: 30px;
    height: 30px;
    left: -10px;
  }
}

@media (max-width: 768px) {
  nav {
    flex-direction: column;
    align-items: center;
    gap: 30px;
  }

  .intro {
    justify-items: center;
    gap: 0;
  }

  .intro h1 {
    font-size: 2rem;
  }

  .intro h1::before {
    height: 20px;
    width: 20px;
    left: -10px;
  }
}

@media (max-width: 650px) {
  .intro {
    grid-template-columns: 1fr;
    justify-items: center;
    gap: 10px;
    margin-top: 10px;
  }

  .intro h1::before {
    height: 20px;
    width: 20px;
  }

  .intro img {
    display: none;
  }
}