.video-container {
    position: relative;
    max-width: 800px;
    margin: 0 auto;
  }
  
  #myVideo {
    width: 100%;   
    background-color: black; 
  }
  
  .play-button {
    width: 60px;
    height: 60px;
    background-color: rgba(0, 0, 0, 0.5);
    border: none;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    cursor: pointer;
  }
  
  .play-button::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 40%;
    width: 0;
    height: 0;
    border-top: 15px solid transparent;
    border-bottom: 15px solid transparent;
    border-left: 25px solid white;
  }
  
  .playing::after {
    border-left: none;
    border-right: 25px solid white;
    left: 35%;
  }
